.n-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: lightyellow;

    .n-left {
        flex: 1;
        align-items: center;
        display: flex;
        gap: 2rem;

        .n-name {
            font-size: 3rem;
            font-weight: normal;
        }
    }
    .n-button{
        margin: 1rem;
        
    }

    .n-right {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        font-weight: normal;
    }

    .n-list {
        flex: 10;

        ul {
            display: flex;
            gap: 2rem;
            margin-right: 4rem;
            list-style-type: none;
            cursor: pointer;

            li:hover {
                cursor: pointer;
                color: var(--orange);
            }
        }
    }
}
