
.wrapper-experience {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    .main-experience-heading{
        font-size: 5rem;
        color: var(--black);
    }
}
@media screen and (max-width: 480px) {
    .wrapper-experience{
        .main-experience-heading{
            font-size: 3rem;
        }
    }
}